<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Alex Portfolio</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<!-- Font -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

<!-- Icons -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

</head>
<body>

<nav>
    <h2 class="logo">Alex</h2>
    <ul>
        <li><a class="active">Home</a></li>
        <li><a>Services</a></li>
        <li><a>Skills</a></li>
        <li><a>Education</a></li>
        <li><a>Experience</a></li>
        <li><a>Contact</a></li>
    </ul>
</nav>

<section class="hero">

    <div class="left">
        <div class="circle"></div>
       <img src="{{ url_for('static', filename='images/profile.png') }}">
    </div>

    <div class="right">
        <h1>Hi, It's <span>Alex</span></h1>
        <h2>I'm a <span class="highlight">Web Developer</span></h2>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Minus labore dolores esse. Odit similique doloribus tenetur doloremque,
            sunt commodi in ipsam, qui aliquid blanditiis laudantium quaerat neque asperiores ea.
        </p>

        <div class="icons">
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-github"></i>
            <i class="fab fa-x-twitter"></i>
            <i class="fab fa-instagram"></i>
        </div>

        <button>Hire me</button>
    </div>

</section>

</body>
</html>